@using RazorPageTest.Models
@using Microsoft.Extensions.Options;
@model Department
@inject IOptions<CustomerOptions> options
<tr>
    @if (Model.EmployeeCount > options.Value.BoldDepartmentEmployeeCountThreshold)
    {
        <td><strong>@Model.Name</strong></td>
    }
    else
    {
        <td>@Model.Name</td>
    }
    <td>@Model.Location</td>
    <td>@Model.EmployeeCount</td>
    <td>
        <a asp-page="Employee/EmployeeList" asp-route-departmentId="@Model.Id">
            Employees
        </a>
    </td>
</tr>
